.list-wrapper {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  margin: 2%;
  padding: 2%;
  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .editor-elem {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: space-around;
    }
  }
}
